@page "/Rankings"

    <TitleSection Title="Rankings" SubTitle="Who's your daddy?" />
    <fast-tabs>
        <fast-tab slot="tab">57 kg</fast-tab>
        <fast-tab slot="tab">61 kg</fast-tab>
        <fast-tab slot="tab">65 kg</fast-tab>
        <fast-tab slot="tab">70 kg</fast-tab>
        <fast-tab slot="tab">74 kg</fast-tab>
        <fast-tab slot="tab">79 kg</fast-tab>
        <fast-tab slot="tab">86 kg</fast-tab>
        <fast-tab slot="tab">92 kg</fast-tab>
        <fast-tab slot="tab">97 kg</fast-tab>
        <fast-tab slot="tab">125 kg</fast-tab>
        <fast-tab-panel slot="tabpanel">
            <table>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Country</td>
                        <td>Previous</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="Database?name=Uguev">Zaur Uguev</a></td>
                        <td>RUS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
            </table>
        </fast-tab-panel>
        <fast-tab-panel slot="tabpanel">61 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">65 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">70 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">74 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">79 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">86 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">92 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">97 rankings</fast-tab-panel>
        <fast-tab-panel slot="tabpanel">125 rankings</fast-tab-panel>
    </fast-tabs>
    

    <br />
    <br />
    <br />