.statBlock {
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    
}


.number {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: 5px solid;
    border-color: var(--priamry-alt);
    border-radius: 10px;
}





h2 {
    font-size: 3em;
    color: var(--secondary);
}

h3 {

}

img {
    /* test */
}