<form action="https://formspree.io/f/mleonpko" method="post">
    <label class="h3" for="email">Email address</label>
    <fast-text-field placeholder="Enter Email" required appearance="outline" type="email" name="email"></fast-text-field>
    <label class="h3"for="body">Feedback / Questions ?</label>
    <fast-text-area appearance="outline" name="body" rows="3" id="body"></fast-text-area>
    <fast-button appearance="outline" type="submit">Submit</fast-button>
</form>