<form id="contact" action="https://formspree.io/f/mleonpko" method="post">
    <label class="h3" for="email">Email address</label>
    <fast-text-field placeholder="john@doe.com" required appearance="outline" type="email" name="email"></fast-text-field>
    <label class="h3" for="body">Feedback / Questions ?</label>
    <fast-text-area appearance="outline" required name="body" rows="14" id="body"></fast-text-area>
    <fast-button appearance="outline" type="submit">Submit</fast-button>
</form>