<a class="logo" href="#">FreestyleRankings.org</a>


<nav>
    <ul>
        <li class="nav-item">
            <NavLink href="/Rankings" class="nav-link">Rankings</NavLink>
        </li>
    </ul>
</nav>