<a class="logo" href="#">FreestyleRankings.org</a>


<nav>
    <ul>
        @*<li class="nav-item">
            <NavLink href="/" class="nav-link">Home</NavLink>
        </li>*@
        <li class="nav-item">
            <NavLink href="/Rankings" class="nav-link">Rankings</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Database" class="nav-link">Database</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Contact" class="nav-link">Contact</NavLink>
        </li>
    </ul>
</nav>