.nav-item {
    display: block;
    height: 80px;
    overflow: hidden;
    padding-left: 50px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
}