<h3 class="animate__fadeInUp animate__faster animate__animated">
    <span class="title">@Raw(Title)</span>
    <span class="line">&nbsp;</span>
</h3>
<h2 class="animate__fadeInUp animate__faster animate__animated" style="@(NoMargins ? "margin-bottom: 0;" : string.Empty)">
    <span class="title">@Raw(SubTitle)</span>
</h2>