@page "/Champions"

<h1>Current World and Olympic Champions</h1>

<div class="row">
    <div class="col-sm">
        <center>
            <img src="https://www.gstatic.com/tv/thumb/persons/963440/963440_v9_ba.jpg" width="300px" style="margin-bottom: 5px" class="rounded-circle" />
            <h3><a href="Database?name=Burroughs">Jordan Burroughs</a></h3>
            <h5 class="text-muted">World Champion '11, '13, '15, '17</h5>
            <h5 class="text-muted">Olympic Champion '12</h5>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <img src="https://www.gstatic.com/tv/thumb/persons/963440/963440_v9_ba.jpg" width="300px" style="margin-bottom: 5px" class="rounded-circle" />
            <h3><a href="Database?name=Burroughs">Jordan Burroughs</a></h3>
            <h5 class="text-muted">World Champion '11, '13, '15, '17</h5>
            <h5 class="text-muted">Olympic Champion '12</h5>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <img src="https://www.gstatic.com/tv/thumb/persons/963440/963440_v9_ba.jpg" width="300px" style="margin-bottom: 5px" class="rounded-circle" />
            <h3><a href="Database?name=Burroughs">Jordan Burroughs</a></h3>
            <h5 class="text-muted">World Champion '11, '13, '15, '17</h5>
            <h5 class="text-muted">Olympic Champion '12</h5>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <img src="https://www.gstatic.com/tv/thumb/persons/963440/963440_v9_ba.jpg" width="300px" style="margin-bottom: 5px" class="rounded-circle" />
            <h3><a href="Database?name=Burroughs">Jordan Burroughs</a></h3>
            <h5 class="text-muted">World Champion '11, '13, '15, '17</h5>
            <h5 class="text-muted">Olympic Champion '12</h5>
        </center>
    </div>
</div>
