@font-face {
    font-family: 'suprregular';
    src: url('fonts/supr-webfont.woff2') format('woff2'),
         url('fonts/supr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supritalic';
    src: url('fonts/supr-italic-webfont.woff2') format('woff2'),
         url('fonts/supr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}